{
 "parser": "@typescript-eslint/parser",
 "extends": [
   "eslint:recommended",
   "plugin:@typescript-eslint/recommended"
 ],
 "rules": {
     "optimize-regex/optimize-regex": "warn"
 },
    "plugins": [
        "optimize-regex",
     "@typescript-eslint"
    ]
}